<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">

	<select id="selectMainReviews" resultType="ReviewVO">
	select review_number, review_comment, review_date, review_updatedate, review_star, use_number
	from tbl_review r
	order by r.review_updatedate desc
	</select>
	
</mapper>


















